.left-panel {
  display: flex;
  justify-content: center;
}

.right-panel {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .right-panel,
  .left-panel {
    justify-content: center;
  }
}
