body {
  user-select: none;
  background: white;
  color: black;
}

.Sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f8f9fa; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav-group {
  margin-bottom: 30px;
}

.sidenav-container {
  padding: 20px;
}

.sidenav-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sidenav-link {
  border: none;
  padding: 0;
}

.sidenav-link svg {
  margin-right: 20px;
}

.github {
  padding: 0 10px;
  margin-bottom: 50px;
}

.github svg {
  font-size: 2rem;
}

.Main {
  margin-left: 220px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

canvas {
  z-index: -1;
}

.Trending {
  padding: 3rem 2rem 0;
  text-align: center;
}

hr {
  margin-top: 2rem;
  margin-bottom: 0;
}

.Trending h5 {
  margin-bottom: 3rem;
  text-align: left;
  font-weight: bold;
}

.trending-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trending-song {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.1s ease-in;
}

.trending-song:hover {
}

.trending-song p {
  font-size: 1.2rem;
  padding: 2rem 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.trending-song button {
  margin-bottom: 0;
}

.trending-thumbnail {
  height: 180px;
  width: 100%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 16px 37px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 16px 37px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 16px 37px -8px rgba(0, 0, 0, 0.3);
}

.trending-country {
  width: 50%;
  padding-bottom: 4rem;
}

.trending-srb-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  transition: background 0.1s ease-in;
  border-radius: 4px;
}

.trending-srb-item button:hover {
  color: white;
}

.trending-srb-item:hover {
  background: #33c3f0;
  color: white;
}

.trending-srb-item p {
  font-size: 1rem;
  width: 60%;
  margin-bottom: 0;
  text-align: left;
  padding-left: 2rem;
}

.trending-srb-item .controls-btn {
  width: 10%;
}

.trending-srb-thumb {
  min-height: 70px;
  width: 20%;
  background-size: cover;
}

@media (max-width: 550px) {
  .trending-song {
    width: 48%;
  }
}

.Player {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
}

.Menu {
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
}

.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px -2px 37px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -2px 37px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 37px -8px rgba(0, 0, 0, 0.3);
}

.menu {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.menu div:first-of-type {
  margin-top: 0;
}

@media (max-width: 550px) {
  .menu {
    width: 90%;
    flex-direction: column;
  }

  .menu div:first-of-type {
    margin-top: 60px;
  }
}

.menu-item {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.1s ease-in;
  cursor: pointer;
  padding: 50px 30px;
  color: white;
}

@media (max-width: 550px) {
  .menu-item {
    padding: 25px 15px;
  }
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menu-item h5 {
  margin-bottom: 0;
}

.menu-icon {
  font-size: 5rem;
  margin-bottom: 10px;
}

form {
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
  display: flex;
  z-index: 99;
}

#song-search {
  width: 40%;
  margin-right: 2rem;
}

input,
button {
  margin-bottom: 0;
}

svg {
  vertical-align: middle !important;
}

.player {
  z-index: 99;
  left: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 550px) {
  .player {
    flex-direction: column;
  }
}

.player-thumb {
  width: 100%;
  height: 42px;
  background-image: url("https://via.placeholder.com/480x360");
  background-size: cover;
  background-position: center;
}

.song-section {
  position: relative;
  width: 100%;
}

.song-title {
  text-align: left;
}

#songChannel {
  font-size: 0.9rem;
}

#songName,
#songChannel {
  margin-bottom: 0;
  text-align: left;
}

#progress-bar {
  width: 35%;
  height: 5px;
  background-color: #33c3f0;
  margin: 0 20px;
}

.progress-time {
  display: flex;
  align-items: center;
  height: 100%;
}

.progress-time p {
  margin-bottom: 0;
}

.song-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.controls-btn {
  padding: 0 20px;
  border: none;
}

#toggle {
  font-size: 2rem;
}

#repeat,
#random {
  font-size: 1.5rem;
}

.menu-title {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}

.modal {
  color: black;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  overflow: auto;
  max-height: 70%;
  min-width: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fefefe;
  padding: 15px 10px;
  display: block;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content .menu-title {
  color: black;
}

.modal-content button {
  font-size: 1.5rem;
  border: 1px solid #bbb;
  color: black;
}

.modal-content .button-primary {
  border: none;
}

td {
  padding: 6px 15px;
}

td > * {
  vertical-align: middle;
}

td img {
  width: 60%;
}

tr:hover {
  background: whitesmoke;
}

td:first-child,
td:last-child {
  padding-left: 15px;
  padding-right: 15px;
}

.favourites-icon {
  cursor: pointer;
}

/* .modal-content button:nth-of-type(1) {
  margin-right: 20px;
} */

@media (min-width: 550px) {
  .modal-content {
    width: auto;
    display: inline-block;
    padding: 30px 40px;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.search-item {
  height: 90px;
  border: 1px solid #bbb;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
  border-radius: 0;
}

.search-item:hover {
  border: 1px solid #33c3f0;
}

.search-item p {
  margin-bottom: 0.5rem;
  color: #7b7b7b;
}

.search-item h5 {
  color: #222;
  margin-bottom: 0;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
