body {
  width: 100%;
  height: 100%;
}

#player {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(166, 0, 217, 0.8),
    rgba(0, 196, 255, 0.8)
  );
}

.row-main {
  height: 90%;
}

nav {
  height: 10%;
}

.container {
  position: absolute !important;
  top: 0 !important;
  min-width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  margin: 0 !important;
}

.player-content {
  background: #000;
  height: 100%;
  max-height: unset;
  position: relative;
  z-index: 1001;
  overflow: hidden;
  width: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  pointer-events: none;
  opacity: 0.3;
}

/* TAB STYLES */
.tab {
  top: 15%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab i {
  font-size: 2.5em;
  color: white;
  margin: 2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

.tab-content {
  display: none;
  padding: 0 15%;
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 5px;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: relative;
  z-index: 1;
  top: 100%;
  margin: auto;
  top: 20px;
}

.active,
.tab i:hover {
  opacity: 1 !important;
}

/* PLAYER STYLES */
.player {
  height: 25em;
  color: white;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.song-section {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.song-title {
  padding: 0 30px;
  font-weight: 600;
}

.player-thumb {
  height: 25em;
  width: 40%;
  background-image: url("https://via.placeholder.com/480x360");
  background-size: cover;
  background-position: center;
}

.song-controls {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input[type="text"] {
  color: black;
}

#progress {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
}

#progress-bar {
  width: 35%;
  height: 5px;
  background-color: #33c3f0;
  position: absolute;
  bottom: 0px;
}

/* SEARCH TAB STYLES */
.search-tab {
  padding: 30px;
  overflow-y: auto;
}

.queue-tab {
  padding: 30px;
}

.search-form {
  margin: 0;
}

.search-item {
  height: 90px;
  border: 1px solid #bbb;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.search-item:hover {
  border: 1px solid #33c3f0;
}

.search-item img {
  margin-right: 1.5rem;
}

.search-item p {
  margin-bottom: 0.5rem;
  color: #7b7b7b;
}

.search-item h5 {
  margin-bottom: 0;
  font-size: 2rem;
  margin-top: 1.5rem;
}

/* QUEUE TAB STYLES */
.queue-tab {
  overflow: auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: relative; /* Sit on top of the screen */
  margin: auto;
  transform: translateY(-100%);
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
